{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "academics.css" %}">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0ceeca1f1f.js" crossorigin="anonymous"></script>
    <title>Academics</title>
    <style>
      ::-webkit-scrollbar {
        width: 10px;
        background-color: rgb(217,243,243);
    }
    
    ::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-corner {
    }
    
    ::-webkit-scrollbar-track {
    }
    
    ::-webkit-scrollbar-button {
    }
    
    ::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: rgb(51,190,189);
         border-radius: 40px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        width: 5px;
    
        background-color: rgb(217,243,243);
        border-radius: 40px;
    }
    </style>
</head>
<body>
    
    <div class="navbar1">
        <div class="hamburger1" id="menus"><i class="fa-solid fa-bars"></i></div>
        <div class="school_title">
            <a href="{% url "index" %}"><h3 style="font-size: 32px;">CHAMP INTERNATIONAL SCHOOL</h3></a>
        </div>
        <div>
          <a href="{% url "login" %}" class="login">
            <div class="Login">
              <i class="fa-solid fa-user"></i>
            </div>
        </a>
      </div>
    </div>

    <div class="side-bar">
        <div id="close"><i class="fa-solid fa-xmark"></i></div>
        <ul>
          <li><a href="{% url "index" %}">Home</a></li>
          <li><a href="admission.html">Admission</a></li>
          <li><a href="{% url "academics" %}">Academics</a></li>
          <li><a href="{% url "life" %}">Student Life</a></li>
          {% if user.is_authenticated %}
        <li><a href="{% url "admin_interface" %}">Admin Operations</a></li>
        <li><a href="{% url "logout" %}">Logout</a></li>
        {% else %}
        <li><a href="{% url "login" %}">Login</a></li>
        {% endif %}
        </ul>
    </div>

    <div class="nav1">
      <div class="navigation">
        <a href="index.html"><h5>Home</h5></a>
        <h5> - Academics</h5>
      </div>
      <div class="rightnav">
        <a href="#cbse"><h5>CBSE</h5></a>
        <a href="#ci"><h5>CI</h5></a>
        <a href="#pedagogy"><h5>Pedagogy</h5></a>
        <a href="#placements"><h5>Placements</h5></a>
      </div>
    </div>

    <div class="about">
      <div id="cbse">
        <h4><span>CBSE</span></h4>
        <ul>
          <li>CBSE is a national-level board of education in India, functioning under the Union Government of India. It caters to schools across the country and several international schools.</li>
          <li>One of the significant roles of CBSE is to prescribe and update the curriculum for affiliated schools. The board ensures a standardized and comprehensive curriculum to promote uniformity in education at the secondary and senior secondary levels.</li>
          <li>CBSE conducts the All India Secondary School Examination (AISSE) for Class 10 and the All India Senior School Certificate Examination (AISSCE) for Class 12.</li>
        </ul>
      </div>
        
      <div id="ci">
        <h4>Cambridge Assessment<span> International Education Curriculum</span></h4>
        <ul>
          <li>The Cambridge International curriculum sets a global standard for education, and is recognised by universities and employers worldwide. CI curriculum is flexible, challenging and inspiring, culturally sensitive yet international in approach.</li>
          <li>Cambridge IGCSE assessment takes place at the end of the course (every year during March) and can include written, oral, coursework and practical assessment. This broadens opportunities for students to demonstrate their learning, particularly when their first language is not English. Grades are benchmarked using eight internationally recognised grades. (A*, A, B, C, D, E, F and G).</li>
          <li>The list of subjects are : English, Physics, Chemistry, Biology, Economics, Business, Accounts, History, Psychology, Information Technology, Mathematics.</li>
        </ul>
      </div>
        
      <div id="pedagogy">
        <h4><span>Pedagogies</span></h4>
        <ul>
          <li>Pedagogy involves the study and application of various teaching methods and strategies.</li>
          <li>Effective pedagogy takes into account the diverse learning styles and preferences of students.</li>
          <li>In modern education, pedagogy often involves the integration of technology to enhance learning experiences. This may include the use of multimedia, online resources, and interactive tools to support teaching and engage students.</li>
        </ul>
      </div>

      <div id="placements">
        <h4><span>Placements</span></h4>
        <ul>
          <li>Our students have also continued to let the flag of Ecole flutter high at international institutes with a high stature of their own, such as London School of Economics and Political Science, University of London, Canadian Flight Institute and University of Nottingham to name a few.</li>
          <li> Many more students have also bagged scholarships in these universities, due to their academic excellence and overall performance.</li>
          <li>All due documentation, exam preparation tips, profile-building guidance and assistance are sought by students before they apply to universities in their last year of schooling and the Career Counselling Cell is well-equipped to provide customised solutions to each such aspirant.</li>
        </ul>
      </div>
    </div>


    <footer>
      <div class="footer">
        <div class="info">
          <h3>Champ International School</h3>
          <ul>
            <li><i class="fa-solid fa-house"></i><p>Village Horawalla, Near Sahaspur<br/>
              Dehradun - 248197, Uttarakahnd, India</p></li>
            <li><i class="fa-solid fa-envelope"></i><p>international@gmail.com</p></li>
            <li><i class="fa-solid fa-phone"></i><p>+91 9876543210</p></li>
          </ul>
        </div>
        <div class="social">
          <ul>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          </ul>
        </div>
        <div class="footerform">
          <form action="https://formspree.io/f/xeqbvkqw" method="post">
            <h4>Enquiry Form</h4>
            <input type="text" name="name" placeholder="Name" id="contact-name" value="" required>
            <input type="email" name="email" placeholder="Email" id="contact-email" value="">
            <input type="text" name="message" placeholder="Your Message" id="contact-phone" value="">
            <button type="submit" id="contact-submit">Submit</button>
          </form>
        </div>
      </div>
      
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        var side_bar = document.querySelector(".side-bar");
        var ham = document.getElementById("menus");
        var close = document.getElementById("close");

        ham.addEventListener("click", ()=>{
            side_bar.classList.toggle("show-side");
        });

        close.addEventListener("click", ()=>{
        side_bar.classList.toggle("show-side");
        });

        var nav1 = document.querySelector(".navbar1");
        var val;
        window.onscroll = function(){
            if(document.documentElement.scrollTop > 20){
                nav1.classList.add("sticky");
            }
            else{
                nav1.classList.remove("sticky");
            }
        }
    </script>
</body>
</html>