<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defaults</title>
    <style>
        #classwise_fee_form{
            display:none;
        }
        #transport{
            display:none;
        }
        #classwise_fee,#modify_fee,#modify_transport{
            cursor: pointer;
        }
        #areawise{
            cursor: pointer;
        }
        #activities,#modify_fee_form,#modify_transport_form{
            display: none;
        }
        #Activities{
            cursor: pointer;
        }
        #message-container {
            position: relative;
            background: #f4f4f4;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            overflow: hidden;
            width: 50%;
        }
        
        #loading-bar {
            position: absolute;
            bottom: 0;
            left: 100%;
            width: 100%;
            height: 3px; /* Set the height of the loading bar */
            background: #0074d9; /* Set the loading bar color */
            z-index: 1;
            {% comment %} transition: left 5s ease-in; {% endcomment %}
        }
        
        #message-content {
            z-index: 2;
        }
        
        .message {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background: #fff;
            margin-bottom: 10px;
        }
        
    </style>
</head>
<body>
    <ul>
        <li id="classwise_fee">ClassWise Fee Details</li>
        <li id="areawise">Area Wise Transport Fee Details</li>
        <li id="Activities">Cocurricular-Activities</li>
        <li id="modify_fee">Modify ClassWise Fee Details</li>
        <li id="modify_transport">Modify Area Wise Transport Fee Details</li>
    </ul>

    {% for msg in messages %}
    <div id="message-container">
        <div id="loading-bar"></div>
        <div id="message-content">
            
                <div class="message">{{ msg }}</div>
            
        </div>
    </div>
    {% endfor %}

    <form action='/classwise_fee/' method="post" id="classwise_fee_form">
        {% csrf_token %}
        <label for="class" name="class">Class</label>
        <select name="student_class">
            <option value="" disabled selected>Select the Class</option>
            <option value="nursery">Nursery</option>
            <option value="pp-I">PP-I</option>
            <option value="pp-II">PP-II</option>
            <option value="I" >I</option>
            <option value="II" >II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
            <option value="VI">VI</option>
            <option value="VII">VII</option>
            <option value="VIII">VIII</option>
            <option value="IX">IX</option>
            <option value="X">X</option>
            <option value="XI">XI</option>
            <option value="XII">XII</option>
        </select>
        
        <label for="tuition_fee" class="models">Tuition Fee</label>
        <input type="number" name="tuition_fee">
        <label for="exam_fee" class="models">Exam Fee</label>
        <input type="number" name="exam_fee">
        <label for="miscellaneous_fee" class="models">Miscellaneous Fee</label>
        <input type="number" name="miscellaneous_fee">
        <button type='submit'>Set</button>
    </form>

    <form action="/transport/" method="post" id="transport">
        {% csrf_token %}
        <label for="area_id" class="models">Area Id</label>
        <input type="number" name="area_id">
        <label for="area_name" class="models">Area Name</label>
        <input type="text" name="area_name">
        <label for="transport_fee" class="models">Transport Fee</label>
        <input type="number" name="transport_fee">
        <button type="submit">Set</button>
    </form>

    <form action="/activities/" method="post" id="activities">
        {% csrf_token %}
        <label for="activity_id" class="models">Activity Id</label>
        <input type="text" name="activity_id">
        <label for="activity" class="models">Activity</label>
        <input type="text" name="activity_name">
        <button type='submit'>Set</button>
    </form>
    
    <form action='/modify_fee/' method='post' id='modify_fee_form'>
        {% csrf_token %}
        <input type='hidden' name='form_type' value='fetch'>
        <label for="class" name="class">Class</label>
        <select name="student_class">
            <option value="" disabled selected>Select the Class</option>
            <option value="nursery">Nursery</option>
            <option value="pp-I">PP-I</option>
            <option value="pp-II">PP-II</option>
            <option value="I" >I</option>
            <option value="II" >II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
            <option value="VI">VI</option>
            <option value="VII">VII</option>
            <option value="VIII">VIII</option>
            <option value="IX">IX</option>
            <option value="X">X</option>
            <option value="XI">XI</option>
            <option value="XII">XII</option>
        </select>
        <button type='submit'>Fetch Details</button>
    </form>

    {% if fee_details %}
    <form action='/modify_fee/' method='post'>
        {% csrf_token %}
        <input type='hidden' name='form_type' value='fill'>
        <label for="student_class">Student Class</label>
        <input type="text" name="student_class" placeholder={{ fee_details.student_class }}>
                
        <label for="tuition_fee">Tuition Fee</label>
        <input type="text" name="tuition_fee" placeholder={{ fee_details.tuition_fee }}>
                
        <label for="exam_fee">Exam Fee</label>
        <input type="text" name="exam_fee" placeholder={{ fee_details.exam_fee }}>
                
        <label for="miscellaneous_fee">Miscellaneous Fee</label>
        <input type="text" name="miscellaneous_fee" placeholder={{ fee_details.miscellaneous_fee }}>
        
        <button type='submit'>Save Changes</button>
    {% endif %}

    <form action='/modify_transport/' method='post' id='modify_transport_form'>
        {% csrf_token %}
        <input type='hidden' name='form_type' value='fetch'>
        <label for="area_id" class="models">Area Id</label>
        <input type="number" name="area_id">
        <button type='submit'>Fetch Details</button>
    </form>

    {% if area_details %}
    <form action='/modify_transport/' method ='post'>
        {% csrf_token %}
        <input type='hidden' name='form_type' value='fill'>
        <label for="area_id">Area ID</label>
        <input type="text" name="area_id" placeholder={{ area_details.area_id }}>

        <label for="area_name">Area Name</label>
        <input type="text" name="area_name" placeholder={{ area_details.area_name }}>

        <label for="transport_fee">Transport Fee</label>
        <input type="text" name="transport_fee" placeholder={{ area_details.transport_fee }}>

        <button type='submit'>Save Changes</button>
    {% endif %}

    <script>
        const classwiseFee = document.getElementById('classwise_fee');
        const classwiseFeeForm = document.getElementById('classwise_fee_form');
        const areawise = document.getElementById('areawise');
        const transport = document.getElementById('transport');
        const activities = document.getElementById('Activities');
        const activitiesForm = document.getElementById('activities');
        const modify_fee = document.getElementById('modify_fee');
        const modify_fee_form=document.getElementById('modify_fee_form');
        const modify_transport = document.getElementById('modify_transport');
        const modify_transport_form = document.getElementById('modify_transport_form');
    
        function hideAllForms() {
            classwiseFeeForm.style.display = 'none';
            transport.style.display = 'none';
            activitiesForm.style.display = 'none';
            modify_fee_form.style.display = 'none';
            modify_transport_form.style.display = 'none';
        }
    
        classwiseFee.addEventListener('click', function () {
            hideAllForms();
            classwiseFeeForm.style.display = 'block';
        });
    
        areawise.addEventListener('click', function () {
            hideAllForms();
            transport.style.display = 'block';
        });
    
        activities.addEventListener('click', function () {
            hideAllForms();
            activitiesForm.style.display = 'block';
        });

        modify_fee.addEventListener('click',function(){
            hideAllForms();
            modify_fee_form.style.display = 'block';
        });

        modify_transport.addEventListener('click',function(){
            modify_transport_form.style.display = 'block';
        });

        document.addEventListener("DOMContentLoaded", function () {
            var loadingBar = document.getElementById("loading-bar");
            var messageContainer = document.getElementById("message-container");
        
            // Animate the loading bar
            var width = 100;
            var interval = setInterval(function () {
                if (width <= 0) {
                    clearInterval(interval);
                    // Hide the message container
                    messageContainer.style.display = "none";
                } else {
                    width -= 1;
                    loadingBar.style.left = width + "%";
                }
            }, 25); // Adjust the speed of the loading bar animation by changing the interval duration
        });
    </script>  
</body>
</html>