{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="{% static "academics.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/0ceeca1f1f.js" crossorigin="anonymous"></script>
    <title>Student Life</title>
    <style>
      ::-webkit-scrollbar {
        width: 10px;
        background-color: rgb(217,243,243);
    }
    
    ::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-corner {
    }
    
    ::-webkit-scrollbar-track {
    }
    
    ::-webkit-scrollbar-button {
    }
    
    ::-webkit-scrollbar-thumb {
        width: 5px;
        background-color: rgb(51,190,189);
         border-radius: 40px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        width: 5px;
    
        background-color: rgb(217,243,243);
        border-radius: 40px;
    }
    </style>
</head>
<body>
    
    <div class="navbar1">
        <div class="hamburger1" id="menus"><i class="fa-solid fa-bars"></i></div>
        <div class="school_title">
            <a href="{% url "index" %}"><h3 style="font-size: 32px;">CHAMP INTERNATIONAL SCHOOL</h3></a>
        </div>
        <div>
          <a href="{% url "login" %}" class="login">
            <div class="Login">
              <i class="fa-solid fa-user"></i>
            </div>
        </a>
      </div>
    </div>

    <div class="side-bar">
        <div id="close"><i class="fa-solid fa-xmark"></i></div>
        <ul>
          <li><a href="{% url "index" %}">Home</a></li>
          <li><a href="admission.html">Admission</a></li>
          <li><a href="{% url "academics" %}">Academics</a></li>
          <li><a href="{% url "life" %}">Student Life</a></li>
          {% if user.is_authenticated %}
        <li><a href="{% url "admin_interface" %}">Admin Operations</a></li>
        <li><a href="{% url "logout" %}">Logout</a></li>
        {% else %}
        <li><a href="{% url "login" %}">Login</a></li>
        {% endif %}
        </ul>
    </div>

    <div class="nav1">
      <div class="navigation">
        <a href="{% url "index" %}"><h5>Home</h5></a>
        <h5> - Student Life</h5>
      </div>
      <div class="rightnav">
        <a href="#life"><h5>Life</h5></a>
        <a href="#exchange"><h5>Exchange Programme</h5></a>
      </div>
    </div>

    <div class="about">
      <div id="life">
        <h4>About <span>Student Life</span></h4>
        <ul>
          <li>A typical day in the life of an Ecolier starts early with the Morning PT, so that students can start their day afresh and with a clear mind and ample physical energy.</li>
          <li>To support the students round the clock, in their physical well-being, the School Infirmary conducts periodic dental, skin and hygiene checks.</li>
          <li>The different dimensions of academics are taught during academic time, and students get some rest-time afterward to refresh themselves.</li>
          <li>The messing facilities are one of the best among the top boarding schools and international schools across India, where the meals are well-planned to suit the bodily and cognitive needs of the children. The meals provided throughout the day have always been highly appreciated by the faculty and students.</li>
          <li>In addition to this, the home-work hour is specially organized in the academic block in the evenings, to clarify queries that the students may have. The faculty ensures that they can make the most of this time by giving personal attention to each child.</li>  
        </ul>
      </div>
        
      <div id="exchange">
        <h4>Exchage <span>Programme</span></h4>
        <ul>
          <li>In the pursuit of helping our students develop into global citizens, one primary program we conduct regularly is the student exchange. The Ecole Globale is an active part of the Round Square International Service (RSIS) which includes students from some of the world’s most prestigious and renowned institutes.</li>
          <li>Through this program, not only are our students often sent abroad to participate but also sometimes our students play host to many students who visit from different countries. The foreign students who visit our premise for a brief period not only expand their horizons but also give our girls the opportunity to experience a new culture, respect their traditions and most of all just have a deeper understanding of the problems in the world.</li>
          <li>There is no lesson taught in the classroom that can replace the experience of an exchange program. The depth of understanding and also appreciation of the diversity in cultures is unparalleled.</li>
        </ul>
      </div>
    </div>

    <footer>
      <div class="footer">
        <div class="info">
          <h3>International School</h3>
          <ul>
            <li><i class="fa-solid fa-house"></i><p>Village Horawalla, Near Sahaspur<br/>
              Dehradun - 248197, Uttarakahnd, India</p></li>
            <li><i class="fa-solid fa-envelope"></i><p>international@gmail.com</p></li>
            <li><i class="fa-solid fa-phone"></i><p>+91 9876543210</p></li>
          </ul>
        </div>
        <div class="social">
          <ul>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          </ul>
        </div>
        <div class="footerform">
          <form action="https://formspree.io/f/xeqbvkqw" method="post">
            <h4>Enquiry Form</h4>
            <input type="text" name="name" placeholder="Name" id="contact-name" value="" required>
            <input type="email" name="email" placeholder="Email" id="contact-email" value="">
            <input type="text" name="message" placeholder="Your Message" id="contact-phone" value="">
            <button type="submit" id="contact-submit">Submit</button>
          </form>
        </div>
      </div>
      
    </footer>


    <script>
        var side_bar = document.querySelector(".side-bar");
        var ham = document.getElementById("menus");
        var close = document.getElementById("close");

        ham.addEventListener("click", ()=>{
            side_bar.classList.toggle("show-side");
        });

        close.addEventListener("click", ()=>{
        side_bar.classList.toggle("show-side");
        });

        var nav1 = document.querySelector(".navbar1");
        var val;
        window.onscroll = function(){
            if(document.documentElement.scrollTop > 20){
                nav1.classList.add("sticky");
            }
            else{
                nav1.classList.remove("sticky");
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>